.config/retroarch/
.config/heroic/
.config/VencordDesktop/
.config/discord/
.config/discord-screenaudio/
.config/WebCord/
.config/PCSX2/
.config/Motrix/
.config/Vencord/
.config/tmux/plugins/
.config/ftb-app/
.config/go/
